@{  
}  

<h2>Estadísticas de Servicios</h2>  



</form>  

            <tr>  
                <th>Cantidad de Citas</th>  
            </tr>  
        </thead>  
        <tbody>  
            {  
                <tr>  
                    <td>@item.Nombre</td>  
                    <td>@item.Cantidad</td>  
                </tr>  
            }  
        </tbody>  
    </table>  
}  
else  
{  
}
    </tbody>
</table>
